[submodule "ext/libigl"]
	path = ext/libigl
	url = https://github.com/libigl/libigl.git
[submodule "ext/pybind11"]
	path = ext/pybind11
	url = https://github.com/pybind/pybind11.git
[submodule "ext/ShapeOp"]
	path = ext/ShapeOp
	url = https://github.com/EPFL-LGG/ShapeOp.git
[submodule "ext/eigen"]
	path = ext/eigen
	url = https://github.com/libigl/eigen.git
